<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Staging Suite">
<!--    <test name="RunTest">-->
<!--        <parameter name="devices" value="web"></parameter>-->
<!--        <parameter name="baseURL" value="https://stage.glamira.co.uk/"></parameter>-->
<!--        <classes>-->

<!--            <class name="test.checkout.ShoppingBagTest">-->
<!--                <methods>-->
<!--                    <include name="testCase_SP_02"/>-->
<!--                    <include name="testCase_SP_03"/>-->
<!--                    <include name="testCase_SP_15"/>-->
<!--                    <include name="testCase_SP_01"/>-->
<!--                    <include name="testCase_SP_04"/>-->
<!--                    <include name="testCase_SP_05"/>-->
<!--                    <include name="testCase_SP_16"/>-->
<!--                    <include name="testCase_SP_17"/>-->
<!--                    <include name="testCase_SP_18"/>-->
<!--                    <include name="testCase_SP_19"/>-->
<!--                    <include name="testCase_SP_21"/>-->
<!--                    <include name="testCase_SP_24"/>-->
<!--                    <include name="testCase_SP_25"/>-->
<!--                    <include name="testCase_SP_26_RV_02_04"/>-->
<!--                    <include name="testCase_RV_05"/>-->
<!--                    <include name="testCase_RV_06"/>-->
<!--                    <include name="testCase_RV_07"/>-->

<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Mobile">-->
<!--        <parameter name="devices" value="web"></parameter>-->
<!--        <parameter name="baseURL" value="https://stage.glamira.com/"></parameter>-->
<!--        <classes>-->
<!--            <class name="test.checkout.ShoppingBagTest">-->
<!--                <methods>-->
<!--                    <include name="testcase_addImageProduct"/>-->
<!--                    <include name="testcase_checkoutAffirm"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="lyTest">
        <parameter name="devices" value="web"></parameter>
        <parameter name="baseURL" value="https://stage.glamira.co.uk/"></parameter>
        <classes>

            <class name="test.CreateAccountOnWebTestLy">
                <methods>
                </methods>
            </class>
        </classes>
    </test>
</suite>

