<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Staging Suite">
    <test name="RunTest">
        <parameter name="devices" value="web"></parameter>
        <parameter name="baseURL" value="https://stage.glamira.co.uk/"></parameter>
        <classes>
            <class name="test.CreateAccountOnWebTest">
                <methods>
                    <include name="testCaseWeb_CreateAccount"/>
                    <include name="testCaseWeb_forgotPassWord"/>
                    <include name="testCaseWeb_forgotPassWordCheckOut_LNA22"/>
                    <include name="testCase_LNA26"/>
                    <include name="testCase_LNA27"/>
                    <include name="testCase_LNA28"/>
                    <include name="testCase_SP_16"/>
                    <include name="testCase_SP_17"/>
<!--                    <include name="testCase_SP_18"/>-->
<!--                    <include name="testCase_SP_19"/>-->
<!--                    <include name="testCase_SP_21"/>-->
<!--                    <include name="testCase_SP_24"/>-->
<!--                    <include name="testCase_SP_25"/>-->
<!--                    <include name="testCase_SP_26_RV_02_04"/>-->
<!--                    <include name="testCase_RV_05"/>-->
<!--                    <include name="testCase_RV_06"/>-->
<!--                    <include name="testCase_RV_07"/>-->
                </methods>
            </class>
        </classes>
    </test>
    <test name="Mobile">
        <parameter name="devices" value="web"></parameter>
        <parameter name="baseURL" value="https://stage.glamira.com/"></parameter>
        <classes>
            <class name="test.CreateAccountOnWebTest">
                <methods>
                    <include name="testWebPhone_CreateAccount"/>
                    <include name="testWebPhone_forgotPassWord"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

