<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Staging Suite">
    <test name="RunTest">
        <parameter name="devices" value="web"></parameter>
        <parameter name="baseURL" value="https://stage.glamira.co.uk/"></parameter>
        <classes>

            <class name="test.CreateAccountOnWebTest">
<!--                <methods>-->
<!--                    <include name="testCase_SI09"/>-->
<!--                    <include name="testCase_SI010"/>-->
<!--                    <include name="testCase_SI011"/>-->
<!--                    <include name="testCase_SI012"/>-->
<!--                    <include name="testCase_SI017"/>-->
<!--                    <include name="testCase_SI018"/>-->
<!--&lt;!&ndash;                    <include name="testCase_SP_16"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="testCase_SP_17"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="testCase_SP_18"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="testCase_SP_19"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="testCase_SP_21"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="testCase_SP_24"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="testCase_SP_25"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="testCase_SP_26_RV_02_04"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="testCase_RV_05"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="testCase_RV_06"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="testCase_RV_07"/>&ndash;&gt;-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
<!--    <test name="Mobile">-->
<!--        <parameter name="devices" value="web"></parameter>-->
<!--        <parameter name="baseURL" value="https://stage.glamira.com/"></parameter>-->
<!--        <classes>-->
<!--            <class name="test.checkout.ShoppingBagTest">-->
<!--                <methods>-->
<!--                    <include name="testcase_addImageProduct"/>-->
<!--                    <include name="testcase_checkoutAffirm"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>

